body, p {
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: green;
    float: left;
}
.mi {
    color: red;
}

.health {
    color: green;
}

.primary-nav {
    float: right;
    list-style-type: none;
}
nav .primary-nav ul li {
    text-decoration: none;
    list-style-type: none;
}
