body, p {
    font-family: Arial, Helvetica, sans-serif;
}

h2 .logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav .primary-nav {
    text-decoration: none;
    list-style-type: none;
}