body, p {
    font-family: Arial, Helvetica, sans-serif;
}

h2 .logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: green;
    float: left;
}

.primary-nav {
    float: right;
}
nav .primary-nav ul li {
    text-decoration: none;
    list-style-type: none;

}
