body, p {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: block;
    margin: 20px;
}
.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    float: left;
    padding: 10px;
    display: inline-block;
}
.mi {
    color: #cd2122;
}

.health {
    color: #acc62a;
}

nav {
    float: right;
}

.primary-nav ul li {
    text-decoration: none;
    list-style-type: none;
    padding: 25px 10px 0 10px;
    display: inline-block;
}
a {
    text-decoration: none;
    color: inherit;
}

.graybackdrop {
    background-image: url("fabric_plaid.png");
    background-repeat: repeat-y;
    clear: both;
}
