body, p {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: block;
    margin: 20px;
}
.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    float: left;
    padding: 10px;
    display: inline-block;
}
.mi {
    color: red;
}

.health {
    color: green;
}

nav {
    float: right;
}

.primary-nav ul li {
    text-decoration: none;
    list-style-type: none;
    padding: 22px 10px 0 10px;
    display: inline-block;
}
