body {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-family:Arial, Helvetica, sans-serif;
}
header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 15px;
    align-items; baseline;

    
}
.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5em;
    margin: 0 10px;
    align-items: baseline;
  
}
.mi {
    color: #cd2122;
}


.health {
    color: #acc62a;
}

nav {
    float: right;
    align-items: baseline;
}

.primary-nav ul li {
    text-decoration: none;
    list-style-type: none;
    /* padding: 25px 10px 0 10px; */
    margin: 0 10px;
    display: inline-block;
}
a {
    text-decoration: none;
    color: inherit;
}

.graybackdrop {
    background-image: url("images/fabric_plaid.png");
    background-repeat: cover;
    padding: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;

}

.child1 {
    margin: 0 10px;
    order: 1;
    height: 340.39px;
    width: 25%;
    flex-grow: 1;
}
.child2 {
    background-image: url("images/apple-quinoa.png");
    background-size: 100% 100%;
    position: relative;
    margin: 0 5px;
    order: 1;
    height: 340.39px;
    width: 25%;
}

.child3 {
    background-image: url("images/pasta-salad.png");
    background-size: 100% 100%;
    position: relative;
    margin: 0 5px;
    order: 1;
    height: 340.39px;
    width: 25%;
}

.child4 {
    background-image: url("images/shrimp-bowl.jpg");
    background-size: 100% 100%;
    position: relative;
    margin: 0 5px;
    order: 1;
    height: 340.39px;
    width: 25%;
}
.child:first-child {
    height: 344.39px;
}

.child1 p:last-child {
    font-weight: bold;
}
.subchild {
    font-size: .75em;
    font-weight: bold;
    text-align: right;

}
 .subchildren  {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex; 
    align-items: flex-end;
    flex-direction: column;
} 

.subchild:first-child {
    padding: 10px;
    background-color: white;
    

}
.subchild:last-child {
    padding: 10px;
    min-width: 9em;
    background-color: #8cc628;
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    line-height: .8;
}

